.storybook-button {
	font-family: 'Inter', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 500;
	border: 0;
	cursor: pointer;
	border-radius: 8px;

	/* color*/
	color: #ffffff;
	background-color: #1a56db;

	/* size */
	font-size: 14px;
	line-height: 21px;
	padding: 10px 30px;
}

.storybook-button:hover {
	color: light-dark(#ffffff, #e5e7eb);
	background-color: #1e429f;
}

.storybook-button:focus {
	background-color: #1e429f;
	outline: 3px solid light-dark(#c3ddfd, #233876);
}
